* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.4s;
}

.navBar{
    display: flex;
    align-items: center;
    gap: 20px;
    position: sticky;
    top: 100px;
    width: 100%;
    /*max-width: 1296px;*/
    height: 101px;
    justify-content: space-between;
    /*margin: 0 auto;*/
    padding: 0 220px;
}
.logo{
    margin-left: 50px;
    width: 150px;
    height: 45px;
}

.navItems{
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
}
.cartLogo{
    width: 17px;
    height: 17px;

}

.navTextSizeOrShrift{
    font-size: 17px;
    font-family:'Plus Jakarta Sans', Times, serif
}

.cartItem{
    display: flex;
    align-items: center;
    gap: 10px;
}

.SingUpBtnTextStyle{
    font-size: 18px;
    font-family:'Plus Jakarta Sans', Times, serif
}

.SingUpBTN{
    width: 219px;
    height: 61px;
    background-color: #F5F5F5;
    border: 1px solid #707371;
    border-radius: 15px;
}

.rightBar{
    display: flex;
    align-items: center;
    gap: 15px;
}

.refNoColor{
    text-decoration: none;
    color: inherit;
}

.footerLogo{    
    width: 152px;
    height: 46px;
    
}

.footerContainer{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1296px;
    margin: 0 auto;
    
    
}

.textFooterHeadLine{
    text-transform: uppercase;
    font-size: 18px;
    font-family:'Plus Jakarta Sans', Times, serif;
}

.textItem{
    font-size: 19px;
    font-family:'Plus Jakarta Sans', Times, serif;
}

.itemDisplay{
    display: flex;
    align-items: center;
    gap: 5px;
}

.footerColumn{
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;

}

.footerColumns{
    display: flex;
    gap: 80px;
}

.footerIconsDisplay{
    display: flex;
    align-items: center;
    gap: 20px;
}

.footerIcon{
    width: 22px;
    height: 20px;
}

footer {
    width: 100%;
    padding: 80px 20px 0px 20px;
}

.footerBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1296px;
    width: 100%;
    margin: 120px auto 40px auto;
    
}

.footerBottomTextStyle{
    font-size: 16px;
    font-family:'Plus Jakarta Sans', Times, serif;
}

.textCurrentFontFamily{
    font-family:'Plus Jakarta Sans', sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
}
.textSize63{
    font-size: 63px;
}

.textSize18{
    font-size: 18px;
}

.oneFrame{
    display: flex;
    align-items: center;
    gap: 180px;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    max-height: 761px;
    padding-top: 40px;
    margin: 0 auto;
    /*border: 1px solid red;*/
}

.leftFrame{
    max-width: 500px;
    max-height: 531px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    margin-top: 40px;

    /*border: 1px solid red;*/
}

.startSignBTN{
    width: 240px;
    height: 59px;
    background-color: #3F53D8;
    border-radius: 15px;
    border: 1px solid white;
}

.textColorWhite{
    color: white;
}

.btnContainer{
    display: flex;
    align-items: center;
    
    gap: 20px;
    width: 100%;
}

.noCreditCart{
    max-width: 181px;
    height: auto;
    object-fit: contain;
}

.rightFrame{
    position: relative;
    width: 600px;
    height: 700px;
    /*border: 1px solid green;*/
}

.itemInRightFrame{
    position: absolute;
}

.statisticImg{
    width: 440px;
    height: 382px;
    top: 100px;
    left: 70px;
    z-index: 1;
}

.randomMen{
    width: 228px;
    height: 401px;
    top: 235px;
    left: 360px;
    z-index: 5;
}

.managerUser{
    width: 319px;
    height: 155px;
    top:520px;
    left: 10px;
    z-index: 1;
}

.mensSize{
    width: 90px;
    height: 90px;
}

.redMen{
    top: 30px;
    left:485px;
    z-index: 1;
}

.blueMen{
    top: 190px;
    left: -10px;
    z-index: 3;
}

.pointPerple{
    width: 16px;
    height: 16px;

    top: 430px;
    left: -20px;
    z-index: 1;
}

.sponsors{
    margin-top: 70px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.text22px{
    font-size: 22px;
}


.sponsorsIconContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 27px;

    
}

.featuresAndResultsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    width: 1200px;
    height: 885px;
    margin: 50px auto 0 auto;

    /*border: 1px solid red;*/
    
}

.featuresAndResultsContainer .textItem{
    max-width: 612px;
    max-height: 135px;
    margin-top: 100px;
    gap: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    /*border: 1px solid red;*/
    
}

.text43px{
    font-size: 43px;
}

.text42px{
    font-size: 42px;
}

.textItem .textMini{
    color: #545479;
    width: 554px;
    height: 58px;
}
.textItem .textBig{
    width: 605px;
    height: 79px;
}


.featuresAndResultsContainer .iconsItems{
    width: 1200px;
    height: 490px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border: 1px solid red;*/
}

.iconsItems .iconItemLine{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1200px;
}

.iconItemLine .iconItem{
    width: 300px;
    height: 245px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 31px;

    
}

.iconItem .icon{
    height: 80px;
    width: 80px;
}

.textSize24{
    font-size: 24px;
}

.collaborateFrameContainer{
    width: 1200px;
    height: 504px;
    margin: 180px auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    /*border: 1px solid red;*/
}
.collaborateFrameContainer .calloborateLeftFrame{
    position: relative;
    width: 600px;
    height: 504px;
    
    
    /*border: 1px solid blue;*/
    /*margin-top: 0;
    margin-right: 700px;*/
}



.calloborateLeftFrame .temlateImageMain{
    position: absolute;
    width: 498px;
    height: auto;
    z-index: 2;
    /*border: 1px solid green;*/
}

.calloborateLeftFrame .Circle{
    position: absolute;
    z-index: 1;
    top: 3px;
    left: 50px;
    
}

.calloborateLeftFrame .InvitePeople{
    position: absolute;
    top: 292px;  
    left: 285px;
    z-index: 5;
}
.calloborateLeftFrame .yellowPoint{
    position: absolute;
    top: 180px;
    left: 614px;
    z-index: 10;
}

.collaborateFrameContainer .calloborateRightFrame{
    display: flex;
    width: 432px;
    height: 481px;
    flex-direction: column;
    align-items: flex-start;
    
    /*border: 1px solid aquamarine;*/
}

.calloborateRightFrame .calloborateBigTexItem{
    width: 432px;
    height: 134px;
    text-align: left;
    padding-right: 20px;
    
    /*border: 1px solid orange;*/
}



.calloborateRightFrame .calloborateMiniTextItem{
    width: 402px;
    height: 58px;
    color: #545479;
}

.calloborateRightFrame .calloborateListTextItem{
    margin-top: 27px;
    width: 432px;
    height: 152px;
    padding-left: 36px;
    display: flex;
    flex-direction: column;
    gap:16px;
    list-style: none;
    
    
}

.textSize16{
    font-size: 16px;
}

.calloborateRightFrame .calloborationBtn{
    width: 174px;
    height: 56px;
    background-color: #3F53D8;
    border-radius: 14px;
    border: 1px solid white;
    font-size: 19px;
    margin-top: auto;
    color: white;
}



.buildFrameContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 573px;
    margin: 280px auto;
    
    
    /*border: 1px solid red;*/
}

.buildFrameContainer .buildLeftFrame{
    width: 432px;
    height: 463px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    /*border: 1px solid green;*/
}
.buildLeftFrame .bigTextItem{
    width: 432px;
    height: 110px;
    
    display: flex;
    align-items: flex-start;
    
}

.buildLeftFrame .smallTextItem{
    width: 414px;
    height: 87px;

    display: flex;
    align-items: flex-start;
    margin-top: 25px;
    
}

.buildLeftFrame .yellowMenItem{
    width: 432px;
    height: 90px;
    display: flex;
    align-items: center;
    margin-top: 43px;
}

.yellowMenItem .yellowTextItem{
    width: 318px;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    margin-left: 24px;
}

.textSize15{
    font-size: 15px;
}

.buildLeftFrame .buildLearnBtn{
    width: 174px;
    height: 59px;
    
    border: 1px solid white;
    border-radius: 14px;
    background-color: #3F53D8;
    color: white;
    margin-top: 48px;
}

.buildLeftFrame .yellowPointItem{
    position: relative;
    left: 308px;
    top: 14px;
    
}

.buildFrameContainer .buildRightFrame{
    position: relative;
    
    width: 624px;
    height: 573px;
    
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: -170px;
    margin-left: 245px;

}

.accesFrameContainer{
    position: relative;
    width: 1200px;
    height: 623px;
    margin: -100px auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    

}

.accesFrameContainer .imageLeftFrame{
    width: 623px;
    height: 623px;
    
    
}

.accesFrameContainer .accessRightFrame{
    width: 432px;
    height: 534px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;

}

.accessRightFrame .accesbigTextItem{
    width: 297px;
    height: 112px;
    font-size: 48px;
}

.accessRightFrame .accesTwoBigTextItem{
    width: 355px;
    height: 112px;
    font-size: 43px;
}

.accessRightFrame .smallAccesTextItem{
    margin-top: 26px;
    width: 425px;
    height: 87px;
    font-size: 17px;
    color: #545479;

}


.accessRightFrame .line{
    border: none;
    width: 432px;
    height: 1px;
    background-color: #080829;
    opacity: 30%;
    margin-top: 23px;
}

.accessRightFrame .logoSponsors{
    display: flex;
    width: 432px;
    height: 141px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.logoSponsors .logoSponsorsLine{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 27px;
}

.logoSponsorsLine .logoItem{
    width: 126px;
    height: 71px;
}

.purplePoint{
    position: absolute;
    top: 4370px;
    left: 1534px;
    z-index: 10;
}


.issimpleFrameContainer{
    width: 1200px;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 80px auto 0 auto;
    gap: 80px;
    
    /*border: 1px solid red;*/
}

.issimpleFrameContainer .topTextItem{
    font-size: 43px;
    width: 609px;
    height: 55px;
    
}

.issimpleFrameContainer .bottomImageAndTextContainer{
    display: flex;
    width: 1200px;
    height: 464px;
    justify-content: space-between;
    align-items: center;
    /*border: 1px solid aquamarine;*/
}

.bottomImageAndTextContainer .bottomItem{
    display: flex;
    width: 340px;
    height: 465px;
    flex-direction: column;
}
.bottomItem .bottomTextItem{
    width: 340px;
    height: 175px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.bottomTextItem .bigCardTextItem{
    width: 316px;
    height: 34px;
    font-size: 26px;
    margin-top: 39px;
}
.bottomTextItem .smallCardTextItem{
    width: 334px;
    height: 84px;
    font-size: 17px;
    color: #545479;
}



.robertMayarCommentFrame{
    margin: 0 auto;
    width: 1040px;
    height: 773px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    
    /*border: 1px solid red;*/
}

.robertMayarCommentFrame .titleTextContainer{
    width: 752px;
    height: 110px;
    font-size: 44px;
    text-align: center;
}

.robertMayarCommentFrame .robertComment{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.robertMayarCommentFrame .robertCommentContainer{
    display: flex;
    justify-content: space-between;
    width: 1040px;
    height: 383px;
    
    /*border: 1px solid aquamarine;*/
}

.robertCommentContainer .commentTextContainer{
    width: 746px;
    height: 383px;
    /*border: 1px solid yellow;*/
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
}

.qutesStyle{
    width: 100px;
    height: 100px;
}

.closedQuotesPosition{
    margin-top: 183px;
}

.commentTextContainer .commentManyTextContainer{
    width: 718px;
    height: 135px;
    font-size: 30px;
    margin-top: 34px;
    color: #080829;
}


.commentTextContainer .authorCommentNameContainer{
    width: 373px;
    height: 34px;
    color: #080829;
    margin-top: 24px;
}

.commentTextContainer .purpleRobertPosition{
    width: 80px;
    position: absolute;
    height: auto;
    bottom: 0;
}

.commentTextContainer .purpleMenAndArrowContainer{
    width: 746px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;


    /*border: 1px solid palegreen;*/
}
.commentTextContainer .arrowContainer{
    width: 104px;
    height: 80px;
    display: flex;
    gap: 8px;
    align-items: flex-end;
    justify-content: center;
}

.numbersContainer{
    width: 1200px;
    height: 303px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    
    /*border: 1px solid rebeccapurple;*/
}

.numbersContainer .watchBtnContainer{
    width: 220px;
    height: 76px;
    display: flex;
    justify-content: center;
}

.numbersContainer .numContainer{
    width: 793px;
    height: 123px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.numContainer .numItem{
    width: 211px;
    height: 123px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

.watchDemo {
    width: 120px;
    height: 30px;
    font-size: 18px;
    color: #080829;
    /*margin-top: 25px;*/
    margin: auto auto;
}

.numItem .bigNum{
    width: 150px;
    height: 58px;
    font-size: 44px;
}

.numItem .smallNum{
    width: 199px;
    height: 54px;
    color: #545479;
    font-size: 17px;
}


.integratesFrameContainer{
    width: 1200px;
    height: 771px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
    /*border: 1px solid red;*/
}

.integratesFrameContainer .integratesTextItemContainer{
    width: 704px;
    height: 110px;
    font-size: 47px;
    color: #080829;
    display: flex;
    justify-content: center;
    
}

.integratesTextItemContainer .stupidText{
    width: 476px;
    height: 112px;
    font-size: 47px;
    color: #080829;
    line-style: 1.3;
    margin: 0;
}


.integratesFrameContainer .integrationIconsContainer{
    display: flex;
    width: 1200px;
    height: 381px;
    flex-direction: column;
    gap: 40px;
    margin-top: 80px;
}
.integrationIconsContainer .iconsLineContainer{
    width: 1200px;
    height: 179px;
    display: flex;
    gap: 88px;
    justify-content: center;
    align-items: center;
}

.iconsLineContainer .iconsItemContainer{
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.iconsLineContainer .lowerIcon{
    margin-top: 40px;
}

.bottomLine{
    gap: 69px;
}


.aquaPointTest{
    margin-left: 1270px;
}


.readCardContainer{
    width: 1200px;
    height: 880px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    
    
    /*border: 1px solid red;*/
}


.readCardContainer .readTextContainer{
    width: 808px;
    height: 55px;
    font-size: 43px;
    text-align: center;
    
    
    /*border: 1px solid gold;*/
}

.readCardContainer .readCardItemContainer{
    width: 1200px;
    height: 485px;
    display: flex;
    justify-content: space-between;
}

.readCardItemContainer .readCardItem{
    width: 360px;
    height: 486px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

.readCardItem .textTag{
    display: flex;
    width: 113px;
    height: 34px;
    font-size: 16px;
    background-color: #A259FF4D;
    color: #080829;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    opacity: 30;
    margin-top: 31px;
}

.readCardItem  .textDescription{
    width: 330px;
    height: 78px;
    font-size: 24px;
    color: #080829;
    text-align: start;
    margin-top: 27px;
}

.readCardItem .cardLine{
    border: none;
    width: 360px;
    height: 1px;
    background-color: #080829;
    opacity: 30%;
}
.readCardItem .dateCardText{
    width: 215px;
    height: 18px;
    font-size: 16px;
    text-align: start;
    color: #080829;
    margin-top: -15px;
}

.readCardItem .dot{
    font-size: 50px;
    font-family: sans-serif;
    color: #080829;
 
    
    border-bottom: 1px solid #E0E0E0;
}


















